<div class="container">

    <h1>Jogo da Velha</h1>
    
    <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/Marvel_Logo.svg/800px-Marvel_Logo.svg.png"/>
    
    <div class="wapper">
      
      <div class="imageContainer">
        <div class="playerName">jogador 1</div>
        <img src="https://terrigen-cdn-dev.marvel.com/content/prod/1x/017lok_ons_crd_02.jpg"/>
      </div>
    
      <div class="mainContainer">
        <div class="competitors">
          <p class="player">Nome</p>
          <p>VS</p>
          <p class="player">Nome</p>
        </div>
    
        <div class="boardContainer">
          <div class="cell">
            <p>O</p>
          </div>
          <div class="cell">
            <p>X</p>
          </div>
          <div class="cell">
            <p>O</p>
          </div>
          <div class="cell">
            <p>X</p>
          </div>
          <div class="cell">
            <p>X</p>
          </div>
          <div class="cell">
            <p>O</p>
          </div>
          <div class="cell">
            <p>X</p>
          </div>
          <div class="cell">
            <p>X</p>
          </div>
          <div class="cell">
            <p>X</p>
          </div>
        </div>
      </div>
    
      <div class="imageContainer">
        <div class="playerName">jogador 2</div>
        <img src="https://terrigen-cdn-dev.marvel.com/content/prod/1x/012scw_ons_crd_02.jpg"/>
      </div>
    
    </div>
    </div>
    
