<div class="container">

  <div class="header">
    <h1>Jogo da Velha</h1>
    <img class="logo" src="https://i.ibb.co/4sbZ5wy/thumbnail-marvel-character-logo.jpg" />
    <button (click)="startGame()" class="start-game-button">
      COMECE AGORA!
    </button>
  </div>

  <div class="wapper">

    <div class="imageContainer">
      <div class="playerName">jogador 1</div>
      <img src="https://terrigen-cdn-dev.marvel.com/content/prod/1x/017lok_ons_crd_02.jpg" />
    </div>

    <div class="mainContainer">
      <div class="competitors">
        <p class="player" id="player1">Nome</p>
        <p>VS</p>
        <p class="player" id="player2">Nome</p>
      </div>

      <div class="boardContainer">
        <div class="cell" id="1">
          <p>O</p>
        </div>
        <div class="cell" id="2">
          <p>X</p>
        </div>
        <div class="cell" id="3">
          <p>O</p>
        </div>
        <div class="cell" id="4">
          <p>X</p>
        </div>
        <div class="cell" id="5">
          <p>X</p>
        </div>
        <div class="cell" id="6">
          <p>O</p>
        </div>
        <div class="cell" id="7">
          <p>X</p>
        </div>
        <div class="cell" id="8">
          <p>X</p>
        </div>
        <div class="cell" id="9">
          <p>X</p>
        </div>
      </div>
    </div>

    <div class="imageContainer">
      <div class="playerName">jogador 2</div>
      <img src="https://terrigen-cdn-dev.marvel.com/content/prod/1x/012scw_ons_crd_02.jpg" />
    </div>

  </div>
</div>
